<!DOCTYPE html>
<HTML>

<head>
	<link rel="stylesheet" href="/css/index.css">
	
</head>

<body>
	<div id="container">
		<h2>User Registration Form</h2>
		<hr>
		<form>
			<div>
				<label>First Name</label>
				<input type="text" id="firstname">
			</div>
			<div>
				<label>Last Name</label>
				<input type="text" id="lastname"> <br>
			</div>
			<div>
				<label> Email </label>
				<input type="email" id="email"> <br>
			</div>
			<div>
				<label>Phone</label>
				<input type="number" id="phone"> <br>
			</div>
			<div>
				<label>Password</label>
				<input type="password" id="password"> <br>
			</div>

			<button type="submit" id="submit">Register</button>
		</form>
		
	</div>
</body>
<script src="/javascript/index.js"></script> <!-- Add at the last, otherwise you will not get element values -->
</HTML>